/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
    
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 4rem;
}

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 32rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Specific background images for each slide */
.carousel-item:nth-child(1) {
    background-image: url('blessing/img/Eduvos_Midrand_Campus_Banner.webp'); /* Replace with your image URL */
}

.carousel-item:nth-child(2) {
    background-image: url('blessing/img/Midrand-Slider-Image-1.jpg'); /* Replace with your image URL */
}

.carousel-item:nth-child(3) {
    background-image: url('blessing/img/midrandhostingbanner.webp'); /* Replace with your image URL */
}
/* Custom carousel buttons background color */
.carousel .carousel-caption .btn {
    background-color: #03045e; /* Eduvos Blue */
    border-color: #caf0f8; /* Optional, to match the border color */
}

.carousel .carousel-caption .btn:hover {
    background-color: #023c7f; /* Slightly darker blue for hover effect */
    border-color: #023c7f; /* Optional, for consistent hover state */
}

.about-image {
    width: 100%; /* Adjust to fit within the container */
    max-width: 700px; /* Prevents image from becoming too large */
    height: 500px; /* Maintains aspect ratio */
    border-radius: 20px; /* Rounded edges */
    object-fit: cover; /* Ensures the image covers the space well without distortion */
}
/* Styling for Register Button */

.register-btn {
    background-color: #03045e; /* Eduvos Blue */
    border-color: #caf0f8; /* Optional, to match the border color */
    color: white; /* Make text white */
}

/* Hover effect for Register Button */
.register-btn:hover {
    background-color: #023c7f; /* Slightly darker blue for hover effect */
    border-color: #023c7f; /* Optional, for consistent hover state */
    color: white; /* Ensure text stays white on hover */
}




/* Adjust carousel content for different screen sizes */
@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}


